<nav class="splash w-full flex gap-12 text-white p-6 text-xl">
  <p><%= link_to '<i class="fa-solid fa-bars"></i>'.html_safe, unauthenticated_root_path %></p>
  <p><%= render partial: 'layouts/title' %></p>
  <% if user_signed_in? %>
    <%= button_to 'Log Out'.html_safe, destroy_user_session_path, method: :delete, class: "logout rounded-lg text-xs p-2 w-20" %>
  <% end %>
  
</nav>